.posts__item {
    display: flex;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #dadada;
}

.post__avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #3185FC;
    margin-right: 24px;
}