.profile__inner {
    display: flex;
    align-items: center;
    padding: 30px;
}

.profile__avatar {
    width: 150px;
    height: 150px;
    background-image: url('./ava.jpg');
    background-size: contain;
    margin-right: 30px;
}

.profile__name {
    text-align: left;
    font-size: 24px;
}

.profile__additions {
    display: flex;
    margin-top: 24px;
}

.profile__item {
    margin-right: 24px;
}

.line {
    height: 1px;
    background-color: rgb(211, 211, 211);
    margin: 0 30px 0 30px;
}