h3 {
    font-size: 24px;
    font-weight: 500;
    color: #1d1d1f;
    margin-left: 30px;
}

.post__inp {
    margin: 0 30px;
    padding: 16px 16px 80px 16px;
    width: calc(100% - 94px);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 3px;
}

.post__inp:focus {
    outline: 0;
    border: 1px solid rgb(153, 153, 153);
}

.post__btn {
    display: flex;
    flex-direction: row-reverse;
    padding: 24px 30px 0 30px;
}

.post__add {
    padding: 12px 24px;
    font-weight: bold;
    background-color: #3185FC;
    color: #fff;
    border: 0;
    cursor: pointer;
}